<link rel="stylesheet" th:href="@{/css/style.css}" />

<a th:href="@{/department/new}">New</a>

<form th:action="@{/department/search}" method="get" th:object="${searchDTO}">
	<input th:field="*{keyword}" placeholder="Tim ten.." />
	<p th:errors="*{keyword}"></p>

	<input th:field="*{currentPage}" placeholder="Trang hien tai.." />
	<input th:field="*{size}" placeholder="SL ban ghi / trang" />
	<input name="sortedField" th:value="${searchDTO?.sortedField}" placeholder="Sap xep theo thuoc tinh" />

	<button type="submit">Search</button>
</form>
<p th:text="${totalPage}"></p>
<p th:text="${totalElements}"></p>

<table border="1">
	<!-- Dong tieu de bang -->
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Created At</th>
		<th>Actions</th>
	</tr>
	<!-- Cac dong noi dung bang Expression Language-->
	<tr th:each="d : ${departmentList}">
		<td th:text="${d.id}">1</td>
		<td th:text="${d.name}">Test</td>
		<td th:text="${d.createdAt}"></td>
		<td>
			<a th:href="@{'/department/delete?id=' + ${d.id}}">Delete</a>
			<a th:href="@{'/department/edit?id=' + ${d.id}}">Edit</a>
		</td>
	</tr>
</table>