<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New-User</title>
</head>
<body>
    <form th:action="@{/user/new}" method="post" enctype="multipart/form-data" th:object="${user}">
        <div>
            <!-- Upload avatar           -->
        <!--       O day dung message.properties-->
            <label th:text="#{user.avatar.file}" ></label>
            <input type="file" th:field="*{file}" accept="/image/*">
        </div>
        <div>
            <label th:text="#{user.name}">:</label>
            <input type="text" th:field="*{name}"/>
            <p th:errors="*{name}"></p>

        </div>

        <div>
            <label th:text="#{user.age}">Age:</label>
            <input type="number" th:field="*{age}"/>
            <p th:errors="*{age}"></p>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>