<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New-User</title>
</head>
<body>
    <form th:action="@{/user/new}" method="post" enctype="multipart/form-data">
        <div>
            <!-- Upload avatar           -->
        <!--       O day dung message.properties-->
            <label th:text="#{user.avatar.file}" ></label>
            <input type="file" name="file" accept="/image/*">
        </div>
        <div>
            <label th:text="#{user.name}">:</label>
            <input type="text" name="name"/>
        </div>

        <div>
            <label th:text="#{user.age}">Age:</label>
            <input type="number" name="age"/>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>