<!DOCTYPE html>
<html layout:decorate="/template.html" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en">
<body>
<div layout:fragment="content">
<a th:href="@{/user/new}">New</a>
<!--Sua lai de dung Page-->
<div>
    <form th:action="@{/user/search}" method="GET" th:object="${searchDTO}">
        <input type="text" th:field="*{keyword}" placeholder="Tim ten..." > <br>
        <p th:errors="*{keyword}"></p>
        <input th:field="*{currentPage}" placeholder="Trang hien tai" > <br>
        <input th:field="*{size}" placeholder="Nhap so luong ban ghi/trang" > <br>
        <select name="sortedField"> Sap xep theo:
            <option  value="name">Name</option>
            <option  value="age">Age</option>
        </select>
        <button type="submit">Search</button>
    </form>
    <p th:text="${totalPage}"></p> <br>
    <p th:text="${totalElement}"></p>


</div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Birthdate</th>
            <th>Avatar</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        <tr th:each="u: ${userList}">
            <td th:text="${u.id}">1</td>
            <td th:text="${u.name}">Test</td>
            <td th:text="${u.age}"></td>
            <td th:text="${#dates.format(u.birthdate, 'dd/MM/yyyy')}"></td>
<!--            chi can .name no se tu goi ham getName() -->
            <td>
        <!--                download file ve de hien thi ra man hinh-->
                <img th:src="@{'/user/download?filename='+${u.avatarURL}}"/>
            </td>
            <td th:text="${u.department?.name}">
            </td>
            <td>
                <a th:href="@{'/user/delete?id='+ ${u.id}}">Delete</a>
            </td>
            <td>
                <a th:href="@{'/user/edit?id='+ ${u.id}}">Edit</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>